div {
    border-style: dotted; 
    border-color: #680f9b;
    border-width: 3px;
    width: 250px;
}

.btn_event_firing {
    background-color: rgb(24, 69, 194); 
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
