<div class="pop_wrap pop_l">
  <div class="pop_header">
      <h1>ECP 컨펌 확인</h1>
      <button tabindex="-1" type="button" class="ico_comm pop_close01" [posFocusBlur]="'focus'" (click)="close()"></button>
  </div>
  <!-- pop_container -->
  <div class="pop_container">
      <div class="pop_content">
          <div class="mbinfo_list type03">
              <p class="txt"><strong>총 <span class="fc_red">{{entryList.length}}</span>건</strong>의 정보가 있습니다.</p>
              <span class="btn_wrap">
                  <!-- 이전,다음 리스트가 있을때 on클래스 추가 -->
                  <a href="javascript:void(0)" [class.on]="pager.currentPage > pager.startPage" class="ico_comm prev03 " (click)="setPage(pager.currentPage - 1,true)">이전</a>
                  <a href="javascript:void(0)" [class.on]="pager.currentPage < pager.endPage" class="ico_comm next03 " (click)="setPage(pager.currentPage + 1,true)">다음</a>
              </span>
              <!-- 보류내역(최대 5개) : 내역이 0건일때 삭제 -->
              <div class="tbl_col bg_bar" *ngIf="entryList.length > 0">
                  <table>
                      <caption>ECP 컨펌 확인</caption>
                      <colgroup>
                        <col style="width:60px">
                        <col style="width:100px">
                        <col style="width:90px">
                        <col>
                        <col style="width:80px">
                        <col style="width:80px">
                      </colgroup>
                      <thead>
                          <tr>
                            <th scope="col">번호</th>
                            <th scope="col">주문번호</th>
                            <th scope="col">ABO번호</th>
                            <th scope="col">상품명</th>
                            <th scope="col">수량</th>
                            <th scope="col">완료여부</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- 내역 선택시 tr에 on클래스 추가 -->
                          <tr *ngFor="let orderEntry of currentOrderList; let i = index;">
                              <td><span>{{orderEntry.entryNumber}}</span></td>
                              <td><span>{{orderList.orders[orderEntry.entryNumber].code}}</span></td>
                              <td><span>{{orderList.orders[orderEntry.entryNumber].user.uid}}</span></td>
                              <td class="tit"><span class="elips mx400">{{orderEntry.product.name}}</span></td>
                              <td><span>{{orderEntry.quantity}}</span></td>
                              <td><span>X</span></td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                <!-- // 보류내역(최대 5개) : 내역이 0건일때 삭제 -->
            </div>
             <!-- 바코드스캔 수정 20180524 -->
             <div class="scan">
                <label for="bcs">바코드 스캔</label>
                <input #barcode autofocus type="text" id="bcs">
            </div>
            <!-- //바코드스캔 수정 20180524 -->
      </div>
  </div>
  <!-- //pop_container -->
  <div class="pop_footer clearfix">
      <span class="fl">취소 ESC</span>
      <span class="fr">
          <a href="javascript:void(0);" class="btn01_blue" (click)="confirm()">확인</a>
          <a href="javascript:void(0);" class="btn01_white" (click)="close()">취소</a>
      </span>
  </div>
</div>