  table {
    width: 100%;
    border: 1px solid #444444;
  }
  th {
    border: 1px solid #444444;
    background-color: blue;
    color:#fff;
  } 
  td {
    border: 1px solid #444444;
    background-color: bisque;
    padding: 7px;
  }  

  .table-margin {
      margin: 5px 14px 5px 14px
  }