<!-- 고객리스트 : 그룹결제시 노출 -->
<div class="member_list">
    <span>
        <button type="button" class="ico_comm prev02">이전</button>
        <button type="button" class="ico_comm next02">다음</button>
    </span>
    <span>
        <a href="javascript:void(0)" class="on">홍길동</a>
        <a href="javascript:void(0)">박보검</a>        
        <a href="javascript:void(0)">조쉬하트넷</a>
        <a href="javascript:void(0)">박보영</a>
        <a href="javascript:void(0)">김하나</a>
        <a href="javascript:void(0)">김태연</a>
        <a href="javascript:void(0)">한승현</a>
        <a href="javascript:void(0)">마동석</a>
        <a href="javascript:void(0)">하정후</a>
        <a href="javascript:void(0)">배지연</a>
        <a href="javascript:void(0)">연정훈</a>
        <a href="javascript:void(0)">김태연</a>
        <a href="javascript:void(0)">한승현</a>
        <a href="javascript:void(0)">마동석</a>
        <a href="javascript:void(0)">하정후</a>
        <a href="javascript:void(0)">배지연</a>
        <a href="javascript:void(0)">연정훈</a>
    </span>
</div>
<!-- //고객리스트 : 그룹결제시 노출 -->

<!-- 상품리스트 -->
<div class="section01">
  <div class="list_wrap">
      <!-- 상품이 10개가 넘을 시 노출  -->
      <div class="paging"  *ngIf="cartList.length > 10">
          <button type="button" [disabled]="pager.currentPage === pager.startPage" class="ico_comm prev01" (click)="setPage(pager.currentPage - 1,true)">이전</button>
          <button type="button" [disabled]="pager.currentPage === pager.endPage" class="ico_comm next01" (click)="setPage(pager.currentPage + 1,true)">다음</button>
      </div>
      <!-- //상품이 10개가 넘을 시 노출  -->
      <div class="list click_add">
          <table>
          <caption>상품리스트</caption>
          <colgroup>
              <col style="width:50px">
              <col style="width:110px">
              <col>
              <col style="width:50px">
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:120px">
          </colgroup>
          <thead>
              <tr>
                  <th scope="col">No.</th>
                  <th scope="col">상품코드</th>
                  <th scope="col">상품명</th>
                  <th scope="col">수량</th>
                  <th scope="col">단가</th>
                  <th scope="col">합계</th>
                  <th scope="col">비고</th>
              </tr>
          </thead>
          <tbody>

              <tr *ngFor="let cartEntry of currentCartList; let i = index;" (click)="eventPopup(cartEntry.code)">
                  <td>{{i}}</td>
                  <td class="al">{{cartEntry.code}}</td>
                  <td class="al"><span class="elips">{{cartEntry.name}}</span></td>
                  <td>{{cartEntry.qty}}</td>
                  <td class="ar">{{cartEntry.price | number}}</td>
                  <td class="ar">{{cartEntry.price*cartEntry.qty | number}}</td>
                  <td></td>
              </tr>                                   
          </tbody>
          </table>
      </div>
  </div>
</div>