<!-- 상품리스트 -->
<div class="section01">
  <div class="list_wrap">
      <!-- 상품이 10개가 넘을 시 노출  -->
      <div class="paging">
          <button type="button" class="ico_comm prev01">이전</button>
          <button type="button" class="ico_comm next01">다음</button>
      </div>
      <!-- //상품이 10개가 넘을 시 노출  -->
      <div class="list click_add">
          <table>
          <caption>상품리스트</caption>
          <colgroup>
              <col style="width:50px">
              <col style="width:110px">
              <col>
              <col style="width:50px">
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:120px">
          </colgroup>
          <thead>
              <tr>
                  <th scope="col">No.</th>
                  <th scope="col">상품코드</th>
                  <th scope="col">상품명</th>
                  <th scope="col">수량</th>
                  <th scope="col">단가</th>
                  <th scope="col">합계</th>
                  <th scope="col">비고</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>9999</td>
                  <td class="al">13213K122</td>
                  <td class="al"><span class="elips">글리스터 리후레셔 스프레이 리후레셔 스프레이 스프레이 리후레셔 스프레이</span></td>
                  <td>9999</td>
                  <td class="ar">999,999,999</td>
                  <td class="ar">999,999,999</td>
                  <td>프로모션프로모션</td>
              </tr>                                   
          </tbody>
          </table>
      </div>
  </div>
</div>