<h3>Receipt Print</h3>
    Press button to print below contents<br>
    <a href class="btn02_blue" (click)="!!click()">Print</a>
    <div id="form2">
         <div class="width">
            <p>
                &lt;div&gt; width is 260px
            </p>
            <h1>H1 Head</h1>
            <h2>H2 Head</h2>
            <h3>H3 Head</h3>
            <h4>H4 Head</h4>
        </div>
    </div>
    <table>
      <tr>
          <td><input type="text" [(ngModel)]="printingText"></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>
    <!--button (click)="clickHtml()">Print</button-->
    <a href class="btn02_blue" (click)="!!clickRaw()">Print Test (Debug)</a>&nbsp;
    <a href class="btn02_blue" (click)="!!openCashDrawer()">Open Cashdrawer</a>&nbsp;
    <a href class="btn02_blue" (click)="!!readXmlTemplates()">XML Read</a>&nbsp;
    <a href class="btn02_blue" (click)="!!testReceiptwithVO()">Show!!!</a>
          </td>
      </tr>
    </table>
    금액 : <input type="text" [(ngModel)]="amount" text="10000"/><br>
    할부기간 : <input type="text" [(ngModel)]="installment" text="0"/><br>
    <input type="button" value="결제" (click)="!!niceApproval()"/>
    <input type="text" value="{{approvalResult}}"/><br>
    <br>
    승인번호 : <input type="text" value="{{approvalNumber}}"/><br>
    결제일시 : <input type="text" value="{{approvalDateTime}}"/><br>
    <input type="button" value="취소" (click)="!!niceCancel()"/>
    <input type="text" value="{{cancelResult}}"/><br>


