<div id="container">
  <!-- 좌측영역 -->
  <div class="m_cont">
      <!-- 주문영역 -->
      <pos-cart-list [noticeList]="noticeList" (posPromotion)="updatePromotion($event)" (posCoupon)="posMenu.openCoupon($event)" (posCart)="posMenu.setFlag($event)" #posCart></pos-cart-list>
      <!-- //주문영역 -->
  </div>
  <!-- //좌측영역 -->
  
  <!-- 우측영역 -->
  <div class="m_right">
      <!-- 메뉴 -->
      <pos-order-menu 
        [promotionList]="promotionViews" 
        (posMenu)="posCart.setType($event)" 
        (posPromotion)="posCart.setPromotion($event)" 
        (posPytoCafe)="posCart.setPytoCafe($event)" 
        (posBer)="posCart.setBer($event)"
        (posPayReset)="posCart.setPayReset($event)"
        (posCoupons)="posCart.setCoupon($event)"
        (posUpdatePromotions)="updatePromotion($event)"
        #posMenu>
      </pos-order-menu>
      <!-- //메뉴 -->
  </div>
  <!-- //우측영역-->
</div>
<!-- 키보드 이벤트 -->
<pos-keyboard
  (keyMenuAction)="posMenu.doAction($event)"
  (keyCartAction)="posCart.doAction($event)"
></pos-keyboard>
<!--// 키보드 이벤트 -->