<div class="pop_wrap pop_m">
  <div class="pop_header">
      <h1>프로모션</h1>
      <button tabindex="-1" type="button" class="ico_comm pop_close01" [posFocusBlur]="'focus'" (click)="close()">닫기</button>
  </div>
  <!-- pop_container -->
  <div class="pop_container">
      <div class="pop_content">
        <ng-container *ngFor="let promotion of promotions; let last = last;">
            <em class="txt05">{{promotion?.promotion?.name}}</em>
            <p class="txt04 mgt10">{{promotion?.description}}</p>
            <br *ngIf="!last"/>
        </ng-container>
      </div>
  </div>
  <!-- //pop_container -->
  <div class="pop_footer line02 clearfix">
      <span class="fl">취소 ESC</span>
  </div>
</div>
