<div class="pop_wrap pop_m">
    <div class="pop_header">
        <h1>{{title}}</h1>
        <button type="button" class="ico_comm pop_close01" [posFocusBlur]="'focus_blur'" (click)="close()">{{closeButtonLabel}}</button>
    </div>
    <!-- pop_container -->
    <div class="pop_container">
        <div class="pop_content">
            <div class="in_form">
                <label for="loginPassword" class="lb">비밀번호</label>
                <input type="password" [(ngModel)]="loginPassword" id="loginPassword" name="loginPassword" title="비밀번호" required placeholder="비밀번호" style="width:365px">
            </div>
            <p class="login_txt type02">
                <span class="txt_info01">비밀번호 분실 시,  IT서비스 데스크(<em class="fc_red">02-3468-6119</em>)로 문의하세요</span>
            </p>
        </div>
    </div>
    <!-- //pop_container -->
    <div class="pop_footer line02 clearfix">
        <span class="fl">취소 ESC</span>
        <span class="fr">
            <a href class="btn01_blue" (click)="!!checkPassword()">{{actionButtonLabel}}</a>
            <a href class="btn01_white"(click)="!!close()">{{closeButtonLabel}}</a>
        </span>
    </div>
</div>
