<div class="pop_wrap pop_m">
  <div class="pop_header">
      <h1>쿠폰결제</h1>
      <button tabindex="-1" type="button" class="ico_comm pop_close01" [posFocusBlur]="'focus'" (click)="close()">{{closeButtonLabel}}</button>
  </div>
  <!-- pop_container -->
  <div class="pop_container">
      <div class="pop_content">
          <!-- 결제내역 -->
          <div class="tbl_row">
              <table>
                  <caption>쿠폰결제</caption>
                  <colgroup>
                      <col style="width:110px">
                      <col style="width:140px">
                      <col style="width:110px">
                      <col>
                  </colgroup>
                  <tbody>
                      <tr>
                          <th scope="row">결제금액</th>
                          <td colspan="3"><span class="won">{{paidamount | number}}</span></td>
                      </tr>
                      <tr>
                          <th scope="row">쿠폰번호</th>
                          <td colspan="3"><input #couponcode type="text" class="w200" title="쿠폰번호" (keydown.enter)="searchCoupon(couponcode.value)"></td>
                      </tr>
<!--                      <tr>
                          <th scope="row">사용 금액</th>
                          <td colspan="3">
                              <input type="text" #usePay class="w110 ar" title="사용 금액" [readonly]="isAllPay" #usePay (keyup)="setChange(usePay.value)">
                              <label class="inp_rd mgl10" for="sg1">전체금액<input #allCheck type="radio" name="sg" id="sg1" checked><span class="checkmark"></span></label>
                              <label class="inp_rd mgl10" for="sg2">일부금액<input #partCheck type="radio" name="sg" id="sg2"><span class="checkmark"></span></label>
                          </td>
                      </tr> -->
                      <tr>
                          <th scope="row">잔액</th>
                          <td><span class="won">{{changeamount | number}}</span></td>
                          <th scope="row">원 금액</th>
                          <td><span class="won">{{couponamount | number}}</span></td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <!-- //결제내역 -->
      </div>
  </div>
  <!-- //pop_container -->
  <div class="pop_footer clearfix">
    <span class="fl">취소 ESC</span>
    <span class="fr">
        <a href class="btn01_blue" (click)="!!applyCoupon()">확인</a>
        <a href class="btn01_white" (click)="!!openComplexPayment()">취소</a>
    </span>
</div>

</div>
