<div #checkpopup class="pop_wrap pop_l" tabindex="1" [posFocusBlur]="'focus'">
    <div class="pop_header">
        <h1>수표 조회</h1>
        <button type="button" class="ico_comm pop_close01" (click)="close()">닫기</button>
    </div>
    <!-- pop_container -->
    <div class="pop_container">
        <div class="pop_content">
            <p class="check_txt">수표 정보를 입력해주세요</p>
            <div class="check_form">
                <div class="check_date">
                    <input type="text" class="mousetrap" title="년" posOnlyNumber="true" maxlength=4 required (keyup)="checkYrNext();" (keydown)="checkYr($event);" #checkyr>
                    <span class="txt">년</span>
                    <input type="text" class="mousetrap" title="월" posOnlyNumber="true" maxlength=2 required (keyup)="checkMmNext();" (keydown)="checkMm($event);" #checkmm>
                    <span class="txt">월</span>
                    <input type="text" class="mousetrap" title="일" posOnlyNumber="true" maxlength=2 required (keyup)="checkDdNext();" (keydown)="checkDd($event);" #checkdd>
                    <span class="txt">일</span>
                </div>
                <div class="check_etc">
                    <input type="text" class="mousetrap" posOnlyNumber="true" placeholder="수표번호" title="수표번호" maxlength=8 required (keyup)="checkNoNext();" (keydown)="checkNo($event);" #checkno>
                    <input type="text" class="mousetrap" posOnlyNumber="true" placeholder="지로코드" title="발행점,발행지점 지로코드" maxlength=6 required (keyup)="checkPointNext();" (keydown)="checkPoint($event);" #checkpoint>
                    <input type="text" class="mousetrap" posOnlyNumber="true" placeholder="검증코드" title="검증코드" maxlength=6 required (keyup)="checkValCodeNext();" (keydown)="checkValCode($event);" #checkvalcode>
                    <input type="text" class="mousetrap" posOnlyNumber="true" placeholder="종류" title="수표종류" maxlength=2 required (keyup)="checkTypeNext();" (keydown)="checkType($event);" #checktype>
                    <input type="text" class="mousetrap" posOnlyNumber="true" placeholder="수표금액" title="수표금액" required (keyup)="checkPriceNext()" (keydown)="checkPrice($event);" (keydown.enter)="checkPriceFinal()" #checkprice>
                </div>
            </div>
            <em *ngIf="finishStatus === null && check < 0" class="finish fail">{{apprmessage}}</em>
            <em *ngIf="finishStatus === 'created' || finishStatus === 'paid'; else payFail" class="finish ok">{{apprmessage}}</em>
            <ng-template #payFail>
                <em *ngIf="finishStatus !== null && finishStatus !== ''" class="finish fail">{{apprmessage}}</em>
            </ng-template>            
        </div>
    </div>
    <!-- //pop_container -->
    <div class="pop_footer line02 clearfix">
        <span class="fl">취소 ESC</span>
        <span class="fr">
            <a href class="btn01_blue" (click)="!!checks()">확인</a>
            <a href class="btn01_white" (click)="!!init()">초기화</a>
        </span>
    </div>
</div>