<!-- 고객리스트 : 그룹결제시 노출 -->
<div class="member_list" [hidden]="true">
  <span>
      <button type="button" class="ico_comm prev02">이전</button>
      <button type="button" class="ico_comm next02">다음</button>
  </span>
  <span>
      <a href="javascript:void(0)" class="on" (click)="removeCart()">홍길동</a>
      <a href="javascript:void(0)">박보검</a>        
      <a href="javascript:void(0)">조쉬하트넷</a>
      <a href="javascript:void(0)">박보영</a>
      <a href="javascript:void(0)">김하나</a>
      <a href="javascript:void(0)">김태연</a>
      <a href="javascript:void(0)">한승현</a>
      <a href="javascript:void(0)">마동석</a>
      <a href="javascript:void(0)">하정후</a>
      <a href="javascript:void(0)">배지연</a>
      <a href="javascript:void(0)">연정훈</a>
      <a href="javascript:void(0)">김태연</a>
      <a href="javascript:void(0)">한승현</a>
      <a href="javascript:void(0)">마동석</a>
      <a href="javascript:void(0)">하정후</a>
      <a href="javascript:void(0)">배지연</a>
      <a href="javascript:void(0)">연정훈</a>
  </span>
</div>
<!-- //고객리스트 : 그룹결제시 노출 -->

<!-- 상품리스트 -->
<div class="section01">
<div class="list_wrap">
    <!-- 상품이 n개가 넘을 시 노출  -->
    <div class="paging" *ngIf="cartList.length > cartListCount">
        <button type="button" [disabled]="pager.currentPage === pager.startPage" class="ico_comm prev01" (click)="setPage(pager.currentPage - 1,true)">이전</button>
        <button type="button" [disabled]="pager.currentPage === pager.endPage" class="ico_comm next01" (click)="setPage(pager.currentPage + 1,true)">다음</button>
    </div>
    <!-- //상품이 n개가 넘을 시 노출  -->
    <div class="list click_add">
        <table>
        <caption>상품리스트</caption>
        <colgroup>
            <col style="width:50px">
            <col style="width:110px">
            <col>
            <col style="width:50px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:140px">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">상품코드</th>
                <th scope="col">상품명</th>
                <th scope="col">수량</th>
                <th scope="col">단가</th>
                <th scope="col">합계</th>
                <th scope="col">비고</th>
            </tr>
        </thead>
        <tbody>
            <tr [class.on]="selectedCartNum == i" *ngFor="let cartEntry of currentCartList; let i = index;" (click)="activeRowCart(i)">
                <td>{{cartEntry.entryNumber}}</td>
                <td class="al">{{cartEntry.product.code}}</td>
                <td class="al"><span class="elips">{{cartEntry.product.name}}</span></td>
                <td>{{cartEntry.quantity}}</td>
                <td class="ar">{{cartEntry.product.price.value | number}}</td>
                <td class="ar">{{cartEntry.product.price.value*cartEntry.quantity | number}}</td>
                <td></td>
            </tr>                                   
        </tbody>
        </table>
    </div>
</div>
</div>
<!-- 회원정보 및 계산 -->
<div class="section02">
  <div class="left">
      <!-- 검색영역 -->
      <div class="search_wrap">
          <div class="inner">
              <div class="tab">
                  <button type="button" [class.on]="searchMode == 'A'" (click)="activeSearchMode('A'); searchText.value=''">회원</button>
                  <button type="button" [class.on]="searchMode == 'P'" (click)="activeSearchMode('P'); searchText.value=''">상품</button>
              </div>
              <div class="search">
                  <input #searchText type="text" (keydown.enter)="!!popupSearch(searchText.value); searchText.value=''">
                  <button type="button" class="ico_comm search01" (click)="!!popupSearch(searchText.value); searchText.value=''">검색</button>
              </div>
          </div>
          <!-- 비회원 선택시 class="btn on" -->
          <button type="button" class="btn" (click)="popupNewAccount()">비회원</button>
          <!-- //비회원 선택시 class="btn on" -->
      </div>
      <!-- //검색영역 -->
      <!-- 회원정보 -->
      <div class="member_info">
          <div class="info_top">
              <!-- 비회원시 삭제1 -->
              <em *ngIf="accountInfo;">
                  {{accountInfo.accountType === 'CLIENT' ? accountInfo.parties[0].name : accountInfo.name}} 회원님
              </em>                
              
              <span *ngIf="accountInfo;" class="t01">{{accountInfo.accountType === 'CLIENT' ? accountInfo.parties[0].uid : accountInfo.uid}}</span>
              <span class="t02">일반결제</span>
              <!-- //비회원시 삭제1 -->
          </div>
          <div class="info_cont">
              <div class="ic01">
                  <!-- 비회원시 삭제2 -->
                  <dl>
                      <dt>A 포인트</dt>
                      <dd></dd>
                  </dl>
                  <!-- <dl>
                        <dt>Member 포인트</dt>
                        <dd>100,000P</dd>
                    </dl>-->
                  <!-- //비회원시 삭제2 -->
              </div>
              <div class="ic04">
                <!-- 비회원시 삭제5 -->
                  <span>신규 ABO프로모션 적용대상</span>
                <!-- //비회원시 삭제5 -->
              </div>
              <div class="ic02">
                  <!-- 비회원시 삭제3 -->
                  <dl>
                      <dt>Re-Cash</dt>
                      <dd></dd>
                  </dl>
                  <!-- //비회원시 삭제3 -->
              </div>
              <div class="ic03">
                  <!-- 비회원시 삭제4 -->
                  <ul>
                      <li class="credit">
                          <span>신용카드</span>
                          <em><span></span></em>
                      </li>
                      <li>
                          <span>현금</span>
                          <em></em>
                      </li>
                      <li>
                          <span>포인트</span>
                          <em></em>
                      </li>
                      <li>
                          <span>Re-Cash</span>
                          <em></em>
                      </li>
                      <li>
                          <span>자동이체</span>
                          <em></em>
                      </li>
                  </ul>
                  <!-- //비회원시 삭제4 -->
              </div>
          </div>
      </div>
      <!-- //회원정보 -->
  </div>
  <div class="right">
      <ul class="calc01">
          <li>
              <span>총수량</span>
              <em>{{totalItem |  number}}</em>
          </li>
          <li>
              <span>할인금액</span>
              <em class="sale">0</em>
          </li>
          <li>
              <span class="t01">Total PV/BV</span>
              <em>{{ totalPV |  number }} / {{ totalBV |  number }}</em>
          </li>
      </ul>
      <ul class="calc02">
          <li>
              <span>결제금액</span>
              <em>{{ totalPrice |  number }}</em>
          </li>
          <li>
              <span>내신금액</span>
              <em>{{ 0 |  number }}</em>
          </li>
          <li>
              <span>거스름돈</span>
              <em>{{ 0 |  number }}</em>
          </li>
      </ul>
  </div>
</div>
<!-- //회원정보 및 계산 -->

<pos-notice tagmsg="공지사항" [noticeList]="noticeList"></pos-notice>
