<div id="header">
  <div class="left">
      <img src="/assets/images/common/logo.png" alt="Amway">
      <em>POS No. {{ posName }}</em>
      <span *ngIf="isClient && employeeName">담당자 <em>{{employeeName}}</em></span>
      <span>{{ posTimer }}</span>
  </div>
  <div class="right" *ngIf="!isClient">
      <!-- <button type="button" class="type01 dp01"><i class="ico_comm keyboard"></i>키보드</button> -->
      <button type="button" class="type01 dp02" (click)="holdOrder()" *ngIf="(isLogin === true && batchNo != null); else holdPopup"><span class="count">{{holdTotalCount}}</span>보류</button>
      <ng-template #holdPopup>
        <button type="button" class="type01 dp02"><span class="count">0</span>보류</button>
      </ng-template>
      <button type="button" class="type02" (click)="endWork()" *ngIf="isLogin === true; else workStart">근무 종료</button>
      <ng-template #workStart>
        <button type="button" class="type02" (click)="startWork()" *ngIf="hasTerminal === true; else notWorkStart">근무 시작</button>
        <ng-template #notWorkStart>
          <button type="button" class="type02">근무 시작</button>
        </ng-template>
      </ng-template>
      <button type="button" class="type02" *ngIf="(screenLockType === null || screenLockType === -1)">화면 풀림</button><!-- 대시보드 로그인 전 -->
      <button type="button" class="type02" (click)="screenRelease()" *ngIf="(screenLockType === 1)">화면 풀림</button><!-- 대시보드 에서 -->
      <button type="button" class="type02" (click)="screenLock()" *ngIf="(screenLockType === 0)">화면 잠금</button><!-- 장바구니에서 -->
  </div>
</div>