<div class="pop_wrap pop_m" tabindex="1" [posFocusBlur]="'focus'">
    <div class="pop_header">
        <h1>무이자 할부 정보</h1>
        <button type="button" class="ico_comm pop_close01" (click)="close()">닫기</button>
    </div>
    <!-- pop_container -->
    <div class="pop_container">
        <div class="pop_content">
            <dl class="scrl_area" *ngIf="bankList">
                <div *ngFor="let bankInfo of bankList.bankInfos">
                    <dt>{{bankInfo.name}}</dt>
                    <dd><span *ngFor="let installmentPlan of bankInfo.installmentPlans">{{installmentPlan.name}}</span></dd>
                </div>
            </dl>
        </div>
    </div>
    <!-- //pop_container -->
    <div class="pop_footer clearfix">
        <span class="fl">취소 ESC</span>    
    </div>
</div>