<!-- wrap -->
<div id="wrap">
    <!-- 본문 -->
    <div id="container" class="customer">
        <div class="m_cont type02">
            <div class="srch_wrap">
                <h1 class="tit_h1">테스트</h1>
            </div>
            <div class="mbinfo_list" style="margin-left:65px;margin-right:65px;">
                <div style='margin-bottom:15px;'>
                    <span><a href class="btn02_blue" (click)="!!testReceiptPrint()">인쇄 테스트</a></span>
                    <span><a href class="btn02_blue" (click)="!!testOpenDrawer()">돈통 테스트</a></span>
                </div>
                <div style='margin-bottom:5px;'>
                    <table>
                        <tr>
                            <td style='text-align:left;width:70px;'>금액</td>
                            <td style='text-align:left;'><input type="text" posOnlyNumber="true" class="ar" style="width:150px" maxlength=9 [(ngModel)]="amount"/></td>
                            <td style='width:40px'></td>
                            <td style='text-align:left;width:70px;'>할부기간</td>
                            <td style='text-align:left;'><input type="text" posOnlyNumber="true" class="ar" style="width:45px" maxlength=2 [(ngModel)]="installment"/></td>                            
                        </tr>
                    </table>
                </div>
                <div style='margin-bottom:5px;'>
                    <span><a href class="btn02_blue" (click)="!!niceApproval()">카드결제 테스트</a></span>
                    <div *ngIf="approvalResult" contentEditable="true" style='width:100%;height:75px;overflow: auto;'>{{approvalResult}}</div>
                </div>
                <div style='margin-bottom:5px;' *ngIf='approvalNumber'>
                    <span><a href class="btn02_blue" (click)="!!niceCancel()">카드취소 테스트</a></span>
                    <div *ngIf="cancelResult" contentEditable="true" style='width:100%;height:75px;overflow: auto;'>{{cancelResult}}</div>
                </div>
                <div style='margin-bottom:5px;'>
                    <table style='width:100%;'>
                        <caption>세션 정보</caption>
                        <colgroup>
                            <col width='50%'/>
                            <col width='50%'/>
                        </colgroup>
                        <thead>
                            <tr>
                                <td>터미널 정보</td>
                                <td>토큰 정보</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div contentEditable="true" style='width:100%;height:125px;overflow: auto;'>
                                        <pre>{{terminalInfo}}</pre>
                                    </div>
                                </td>
                                <td>
                                    <div contentEditable="true" style='width:100%;height:125px;overflow: auto;'>
                                        <pre>{{tokenInfo}}</pre>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="btn_bottom" style="margin-right:65px;">
                <span class="fr">
                    <a href class="btn01_blue" (click)="!!goDashboard()">대시보드 이동</a>
                    <a href class="btn01_white" (click)="!!reset()">테스트 초기화</a>
                </span>
            </div>

        </div>
    </div>
</div>