<div class="pop_wrap pop_m">
  <div class="pop_header">
      <h1>결제완료</h1>
      <button type="button" class="ico_comm pop_close01" (click)="close()">닫기</button>
  </div>
  <!-- pop_container -->
  <div class="pop_container">
      <div class="pop_content">
          <!-- 결제내역 -->
          <div class="tbl_row">
              <table>
                  <caption>결제완료</caption>
                  <colgroup>
                      <col style="width:110px">
                      <col>
                  </colgroup>
                  <tbody>
                      <tr>
                          <th scope="row">내신금액</th>
                          <td><span class="won"></span></td>
                      </tr>
                      <tr>
                          <th scope="row">결제금액</th>
                          <td><span class="won"></span></td>
                      </tr>
                      <tr>
                          <th scope="row">거스름돈</th>
                          <td><span class="won"></span></td>
                      </tr>
                      <tr>
                          <th scope="row">결제일자</th>
                          <td></td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <em class="finish ok">결제가 완료되었습니다.</em>
          <!-- <em class="finish fail">결제에 실패했습니다.</em> -->
          <!-- //결제내역 -->
      </div>
  </div>
  <!-- //pop_container -->
  <div class="pop_footer line02 clearfix">
      <span class="fl">취소 ESC</span>
      <span class="fr">
          <a href="javascript:void(0)" class="btn01_blue"  (click)="close()">확인</a>
          <a href="javascript:void(0)" class="btn01_white" (click)="close()">취소</a>
      </span>
  </div>
</div>