<div class="pop_wrap pop_m">
    <div class="pop_header02">
        <button type="button" class="ico_comm pop_close02" [posFocusBlur]="'focus_blur'" (click)="close()">{{closeButtonLabel}}</button>
    </div>
    <form id='loginform'>
    <!-- pop_container -->
    <div class="pop_container">
        <div class="pop_content">
            <div class="login_wrap">
                <img src="/assets/images/common/pop_logo.png" alt="Amway">
                
                <span class="id"><input type="text" [(ngModel)]="loginId" name="loginId" title="AD계정" required placeholder="AD계정"/></span>
                <span class="pw"><input type="password" [(ngModel)]="loginPassword" name="loginPassword" autocomplete="off" title="비밀번호" required placeholder="비밀번호"/></span>
                
                <a href class="btn02_blue" (click)="!!startWork()">근무시작</a>
                <a href class="btn02_white" (click)="!!close()">취소</a>
               
            </div>
            <p class="login_txt">
                <span class="txt_info01">비밀번호 분실 시,  IT서비스 데스크(<em class="fc_red">02-3468-6119</em>)로 문의하세요</span>
            </p>
        </div>
    </div>
    <!-- //pop_container -->
    </form>
    <div class="pop_footer clearfix">
        <span class="fl">취소 ESC</span>
    </div>
</div>
