<!-- 회원정보 및 계산 -->
<div class="section02">
  <div class="left">
      <!-- 검색영역 -->
      <div class="search_wrap">
          <div class="inner">
              <div class="tab">
                  <button type="button" [class.on]="searchMode == 'A'" (click)="activeSearchMode('A')">회원</button>
                  <button type="button" [class.on]="searchMode == 'P'" (click)="activeSearchMode('P')">상품</button>
              </div>
              <div class="search">
                  <input #searchText type="text" (keydown.enter)="!!popupSearch(searchText.value)">
                  <button type="button" class="ico_comm search01" (click)='!!popupSearch(searchText.value)'>검색</button>
              </div>
          </div>
          <!-- 비회원 선택시 class="btn on" -->
          <button type="button" class="btn" (click)="popupNewUser()">비회원</button>
          <!-- //비회원 선택시 class="btn on" -->
      </div>
      <!-- //검색영역 -->
      <!-- 회원정보 -->
      <div class="member_info">
          <div class="info_top">
              <!-- 비회원시 삭제1 -->
              <em *ngIf="accountInfo;">
                  {{accountInfo.name}} 회원님
              </em>                
              
              <span *ngIf="accountInfo;" class="t01">{{accountInfo.uid}}</span>
              <span class="t02">일반결제</span>
              <!-- //비회원시 삭제1 -->
          </div>
          <div class="info_cont">
              <div class="ic01">
                  <!-- 비회원시 삭제2 -->
                  <dl>
                      <dt>A 포인트</dt>
                      <dd></dd>
                  </dl>
                  <!-- //비회원시 삭제2 -->
              </div>
              <div class="ic02">
                  <!-- 비회원시 삭제3 -->
                  <dl>
                      <dt>A/R 금액</dt>
                      <dd></dd>
                  </dl>
                  <!-- //비회원시 삭제3 -->
              </div>
              <div class="ic03">
                  <!-- 비회원시 삭제4 -->
                  <ul>
                      <li class="credit">
                          <span>신용카드</span>
                          <em><span></span></em>
                      </li>
                      <li>
                          <span>현금</span>
                          <em></em>
                      </li>
                      <li>
                          <span>포인트</span>
                          <em></em>
                      </li>
                      <li>
                          <span>A/R</span>
                          <em></em>
                      </li>
                      <li>
                          <span>자동이체</span>
                          <em></em>
                      </li>
                  </ul>
                  <!-- //비회원시 삭제4 -->
              </div>
          </div>
      </div>
      <!-- //회원정보 -->
  </div>
  <div class="right">
      <ul class="calc01">
          <li>
              <span>총수량</span>
              <em></em>
          </li>
          <li>
              <span>할인금액</span>
              <em class="sale"></em>
          </li>
          <li>
              <span class="t01">Total PV/BV</span>
              <em></em>
          </li>
      </ul>
      <ul class="calc02">
          <li>
              <span>결제금액</span>
              <em></em>
          </li>
          <li>
              <span>내신금액</span>
              <em></em>
          </li>
          <li>
              <span>거스름</span>
              <em></em>
          </li>
      </ul>
  </div>
</div>
<!-- //회원정보 및 계산 -->

<!-- 공지사항 -->
<dl class="notice">
  <dt class="tag01">공지사항</dt>    
    <dd>1. 3월 26일  시스템 점검 시스템 점검 시스템이 예정되어 있으니 업부에 착오 없으시길 바랍니다. 문의: 1588 - 0000</dd>
    <!-- <li>2. 3월 26일  시스템 점검 시스템 점검 시스템이 예정되어 있으니 업부에 착오 없으시길 바랍니다. 문의: 1588 - 0000</li>
    <li>3. 3월 26일  시스템 점검 시스템 점검 시스템이 예정되어 있으니 업부에 착오 없으시길 바랍니다. 문의: 1588 - 0000</li> -->
</dl>