<div class="pop_wrap pop_m">
  <div class="pop_header">
      <h1>비회원 개인정보수집 및 이용동의</h1>
      <button tabindex="-1" type="button" class="ico_comm pop_close01" [posFocusBlur]="'focus'" (click)="close()">{{closeButtonLabel}}</button>
  </div>
  <!-- pop_container -->
  <div class="pop_container">
      <div class="pop_content">
          <div class="in_form">
              <label class="inp_rd" for="mobile">휴대폰번호<input type="radio" name="phonetype" id="mobile" (click)="phonetype = 'MOBILE'" [(ngModel)]="phonetype" value="MOBILE"><span class="checkmark"></span></label>
              <label class="inp_rd" for="tel">전화번호<input type="radio" name="phonetype" id="tel" (click)="phonetype = 'HOME'" [(ngModel)]="phonetype" value="HOME"><span class="checkmark"></span></label>
          </div>
          <div class="in_form">
              <input type="text" class="w370" #phoneType posOnlyNumber="true" (keydown.enter)="saveNewCustomer(phoneType)" maxlength=11 [(ngModel)]="userPhone" placeholder="휴대폰/전화번호 입력 시 – 없이 입력해주세요.">
          </div>
          <div class="in_form">
              <label class="inp_ck" for="agree">개인정보수집 및 이용 동의<input type="checkbox" id="agree" [checked]="agree" (change)="agree = !agree"><span class="checkmark"></span></label>
              <label class="inp_ck" for="guser">간편선물 받은 사용자 여부<input type="checkbox" id="guser" [checked]="guser" (change)="guser = !guser"><span class="checkmark"></span></label>
          </div>
      </div>
  </div>
  <!-- //pop_container -->
  <div class="pop_footer clearfix">
      <span class="fl">취소 ESC</span>
  </div>
</div>
