<div class="dboard_main">
  <p class="txt_w">Welcome to<br>Amway Pos system</p>
  <p class="txt_m">원하시는 메뉴를 선택하세요</p>
  <div class="nav_wrap">
      <a href class="n01" [class.link-disabled]="screenLockType === 1" routerLink="" *ngIf="screenLockType === 1; else goOrder"><em>판매등록</em><span>일반 결제 시스템을<br>이용하실 수 있습니다</span></a>
      <ng-template #goOrder>
        <a href class="n01" [class.link-disabled]="batchNo === null" routerLink="" *ngIf="batchNo === null; else goOrderCheck"><em>판매등록</em><span>일반 결제 시스템을<br>이용하실 수 있습니다</span></a>
        <ng-template #goOrderCheck>
            <a href class="n01" routerLink="/order"><em>판매등록</em><span>일반 결제 시스템을<br>이용하실 수 있습니다</span></a>
        </ng-template>
      </ng-template>
      <a href class="n02" [class.link-disabled]="screenLockType === 1" routerLink="" *ngIf="screenLockType === 1; else goEOD"><em>판매정산</em><span>계산원 정산 시스템을<br>이용하실 수 있습니다</span></a>
      <ng-template #goEOD>
        <a href class="n02" (click)="!!startEOD()"><em>판매정산</em><span>계산원 정산 시스템을<br>이용하실 수 있습니다</span></a>
      </ng-template>
      <a href class="n03" [class.link-disabled]="tokeninfo === null" (click)="!!startShift()" *ngIf="batchNo === null; else stopShiftWork"><em>Start Shift</em><span>계산원 교대 근무시<br>이용하실 수 있습니다</span></a>
      <ng-template #stopShiftWork>
        <a href class="n03" [class.link-disabled]="screenLockType === 1" (click)="!!stopShift()"><em>Stop Shift</em><span>계산원 교대 근무시<br>이용하실 수 있습니다</span></a>  
      </ng-template>
      <a href class="n04" [class.link-disabled]="screenLockType === 1" (click)="!!posEnd()"><em>POS 종료</em><span>암웨이 포스 시스템을<br>종료합니다</span></a>
  </div>
</div>