<div class="pop_wrap pop_l">
    <div class="pop_header">
        <h1>주문완료 상세 내역</h1>
        <button type="button" class="ico_comm pop_close01" (click)="close()">닫기</button>
    </div>
    <!-- pop_container -->
    <div class="pop_container">
        <div class="pop_content type02">
            <p class="txt02">선택된 주문 상세 정보는 아래와 같습니다.</p>
            <div class="bill_wrap clearfix" *ngIf="orderDetail">
                <!-- 왼쪽 -->
                <div class="bill fl">
                    <div class="inner">
                        <span class="logo"><img src="/assets/images/common/bill_logo.png" alt="Amway"></span>
                        <ul class="list">
                            <li><span>주문형태</span><em>{{orderDetail.orders[0].orderType.label}}</em></li>
                            <li><span>ABO정보</span><em>{{orderDetail.orders[0].user.uid}} {{orderDetail.orders[0].user.name}}</em></li>
                            <li><span>구매일자</span><em>{{orderDetail.orders[0].created | date:'yyyy/MM/dd  HH:mm:ss'}}</em></li>
                            <li><span>POS번호</span><em>{{clientId}}</em></li>
                            <li><span>캐셔정보</span><em>{{emloyeeName}}</em></li>
                            <li><span>주문번호</span><em>{{orderDetail.orders[0].code}}</em></li>
                        </ul>
                        <div class="scroll_tbl">
                            <div>
                                <table>
                                    <caption>주문내역</caption>
                                    <colgroup>
                                        <col style="width:20px">
                                        <col>
                                        <col style="width:70px">
                                        <col style="width:30px">
                                        <col style="width:70px">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">번호</th>
                                            <th scope="col">상품명</th>
                                            <th scope="col">단가</th>
                                            <th scope="col">수량</th>
                                            <th scope="col">금액</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let entry of orderDetail.orders[0].entries;">
                                            <td>{{ entry.entryNumber + 1}}</td>
                                            <td><span class="blck">{{entry.product.code}}</span>{{entry.product.name}}</td>
                                            <td>{{ entry.basePrice.value | number}}</td>
                                            <td>{{ entry.quantity }}</td>
                                            <td>{{ entry.totalPrice.value | number}}</td>
                                        </tr>                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //왼쪽 -->
                <!-- 오른쪽 -->
                <div class="bill fr">
                    <div class="inner">
                        <ul class="list">
                            <li><span>상품수량</span><em>{{cancelSymbol}}{{ orderDetail.orders[0].totalUnitCount | number }}</em></li>
                            <li><span>과세물품</span><em>{{cancelSymbol}}{{ orderDetail.orders[0].subTotal.value - orderDetail.orders[0].totalTax.value | number }}</em></li>
                            <li><span>부&nbsp; 가&nbsp; 세</span><em>{{cancelSymbol}}{{ orderDetail.orders[0].totalTax.value | number }}</em></li>
                            <li class="txt_b"><span>합 &nbsp; &nbsp; &nbsp; &nbsp; 계</span><em>{{cancelSymbol}}{{ orderDetail.orders[0].subTotal.value | number }}</em></li>
                            <li class="txt_b" *ngIf="orderDetail.orders[0].totalDiscounts.value > 0"><span>할인금액</span><em>{{cancelSymbol}}{{orderDetail.orders[0].totalDiscounts.value}}</em></li>
                            <li *ngIf="paymentCapture.getVoucherPaymentInfo && orderDetail.orders[0].totalDiscounts.value > 0"><span>할인 쿠폰({{paymentCapture.getVoucherPaymentInfo.paymentMode.name}})</span><em>{{cancelSymbol}}{{orderDetail.orders[0].totalDiscounts.value}}</em></li>                            
                            <li class="txt_b"><span>결제금액</span><em>{{cancelSymbol}}{{ orderDetail.orders[0].totalPrice.value | number }}</em></li>
                        </ul>
                        <ul class="list">
                            <div>
                                <ng-container *ngIf="paymentCapture.getCcPaymentInfo">
                                    <li>[{{ paymentCapture.getCcPaymentInfo.paymentMode.name }}]</li>
                                    <li>카드번호 : {{ paymentCapture.getCcPaymentInfo.paymentInfoLine1 }}</li>
                                    <li>할부 : {{ paymentCapture.getCcPaymentInfo.paymentInfoLine3 < 2 ? '일시불' : paymentCapture.getCcPaymentInfo.paymentInfoLine3 }} (승인번호 : {{paymentCapture.getCcPaymentInfo.paymentInfoLine4 }})</li>
                                </ng-container>
                                <ng-container *ngIf="paymentCapture.getIcCardPaymentInfo">
                                    <li>[{{ paymentCapture.getIcCardPaymentInfo.paymentMode.name }}]</li>
                                    <li>카드번호 : {{ paymentCapture.getIcCardPaymentInfo.paymentInfoLine1 }}</li>
                                    <li>할부 : {{ paymentCapture.getIcCardPaymentInfo.paymentInfoLine3 < 2 ? '일시불' : paymentCapture.getIcCardPaymentInfo.paymentInfoLine3 }} (승인번호 : {{paymentCapture.getIcCardPaymentInfo.paymentInfoLine4 }})</li>
                                </ng-container>
                                <li *ngIf="paymentCapture.getDirectDebitPaymentInfo">
                                    <span>[{{paymentCapture.getDirectDebitPaymentInfo.paymentMode.name}}]</span><em>{{cancelSymbol}}{{ paymentCapture.getDirectDebitPaymentInfo.amount | number }}</em>
                                </li>                                
                                <li *ngIf="paymentCapture.getPointPaymentInfo">
                                    <span>[{{paymentCapture.getPointPaymentInfo.paymentMode.name}}]</span><em>{{cancelSymbol}}{{ paymentCapture.getPointPaymentInfo.amount | number }}</em>
                                </li>
                                <li *ngIf="paymentCapture.getMonetaryPaymentInfo">
                                    <span>[{{paymentCapture.getMonetaryPaymentInfo.paymentMode.name}}]</span><em>{{cancelSymbol}}{{ paymentCapture.getMonetaryPaymentInfo.amount | number }}</em>
                                </li>
                                <li *ngIf="paymentCapture.getCashPaymentInfo">
                                    <span>[{{paymentCapture.getCashPaymentInfo.paymentMode.name}}]</span><em>{{cancelSymbol}}{{ paymentCapture.getCashPaymentInfo.amount | number }}</em>
                                </li>
                            </div>
                        </ul>
                        <ul class="list">
                            <li class="fx"><span>PV</span><em>{{cancelSymbol}}{{orderDetail.orders[0].totalPriceWithTax.amwayValue.pointValue}}</em></li>
                            <li class="fx"><span>BV</span><em>{{cancelSymbol}}{{orderDetail.orders[0].totalPriceWithTax.amwayValue.businessVolume}}</em></li>
                            <li class="fx"><span>PV SUM</span><em></em></li>
                            <li class="fx"><span>BV SUM</span><em></em></li>
                            <li class="fx"><span>GROUP PV</span><em></em></li>
                            <li class="fx"><span>GROUP BV</span><em></em></li>
                            <li><span>잔여 A 포인트</span><em>00</em></li>
                            <li><span>공제번호</span><em>{{orderDetail.orders[0].deductionNumber}}</em></li>
                        </ul>
                        <p class="txt">*** 정상 승인 완료 ***</p>
                    </div>
                </div>
                <!-- //오른쪽 -->
            </div>
        </div>
    </div>
    <!-- //pop_container -->
    <div class="pop_footer clearfix">
        <span class="fl">취소 ESC</span>
        <a href="javascript:void(0)" class="fl mgl20" (click)= "close()">이전<i class="ico_comm prev"></i></a>
        <span class="fr" *ngIf="!cancelFlag">            
            <a href="javascript:void(0)" *ngIf="orderInfo.isCancellable" class="btn01_blue" (click)="popupCancel()">주문취소</a>
            <a href="javascript:void(0)" *ngIf="orderInfo.isCancellable && orderInfo.orderStatus.code === 'COMPLETED'" class="btn01_blue" (click)="reissueReceipts()">영수증재발행</a>            
            <a href="javascript:void(0)" *ngIf="orderInfo.isCancellable" class="btn01_blue" (click)="paymentChange()">결제수단변경/재결제</a>
            <a href="javascript:void(0)" *ngIf="orderInfo.orderType.code === 'NORMAL_ORDER' && orderInfo.channel.code === 'Web'" class="btn01_blue" (click)="cancelECPPrint()">ECP 출력 취소</a>
        </span>
    </div>
</div>