<div #cashPanel class="pop_wrap pop_m" tabindex="1" [posFocusBlur]="'focus'">
    <div class="pop_header">
        <h1>현금/수표</h1>
        <button type="button" class="ico_comm pop_close01" (click)="close()">닫기</button>
    </div>
    <!-- pop_container -->
    <div class="pop_container">
        <div class="pop_content">
            <!-- 결제내역 -->
            <div class="tbl_row">
                <table>
                    <caption>현금/수표</caption>
                    <colgroup>
                        <col style="width:110px">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">받은금액</th>
                            <td><input #paid type="text" class="w110 ar mousetrap" posOnlyNumber="true" title="받은금액" (keyup)="cashCal()" (keydown.enter)="payEnter($event, paid.value)"> 원</td>
                        </tr>
                        <tr>
                            <th scope="row">결제금액</th>
                            <td><span class="won">{{payamount | number}} 원</span></td>
                        </tr>
                        <tr>
                            <th scope="row">거스름돈</th>
                            <td>
                                <span #change class="won" *ngIf="paid.value - payamount > 0; else notChange">{{ paid.value - payamount | number}} 원</span>
                                <ng-template #notChange>
                                    <span #change class="won">0 원</span>
                                </ng-template>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">결제일자</th>
                            <td>{{paidDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <em *ngIf="finishStatus === null && checktype < 0" class="finish fail">{{apprmessage}}</em>
            <em *ngIf="finishStatus === 'PAYMENT_CAPTURED' || finishStatus === 'created' || finishStatus === 'paid'; else payFail" class="finish ok">{{apprmessage}}</em>
            <ng-template #payFail>
                <em *ngIf="finishStatus !== null && finishStatus !== ''" class="finish fail">{{apprmessage}}</em>
            </ng-template>
            <!-- //결제내역 -->
        </div>
    </div>
    <!-- //pop_container -->
    <div class="pop_footer line02 clearfix">
        <span class="fl">취소 ESC</span>
        <span class="fr">
            <a href class="btn01_blue" (click)="!!searchCheque()">수표 조회</a>
            <a href class="btn01_blue" [class.link-disabled]="paylock" (click)="!!payButton($event)">확인</a>
            <a href class="btn01_white" (click)="!!close()">취소</a>
        </span>
    </div>
</div>