<div class="pop_wrap pop_m" tabindex="1" [posFocusBlur]="'focus'">
    <div class="pop_header">
        <h1>현금/수표</h1>
        <button type="button" class="ico_comm pop_close01" (click)="close()">닫기</button>
    </div>
    <!-- pop_container -->
    <div class="pop_container">
        <div class="pop_content">
            <!-- 결제내역 -->
            <div class="tbl_row">
                <table>
                    <caption>현금/수표</caption>
                    <colgroup>
                        <col style="width:110px">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">내신금액</th>
                            <td><input #paid type="text" class="w110 ar" title="내신금액" value=""(keydown.enter)="nextStep()"></td>
                        </tr>
                        <tr>
                            <th scope="row">결제금액</th>
                            <td><input #payment type="text" class="w110 ar" title="결제금액" value=""></td>
                        </tr>
                        <tr>
                            <th scope="row">거스름돈</th>
                            <td><span #change class="won">{{ paid.value - payment.value | number}}</span></td>
                        </tr>
                        <tr>
                            <th scope="row">결제일자</th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <em *ngIf="finishStatus === 'ok'"   class="finish ok">결제가 완료되었습니다.</em>
            <em *ngIf="finishStatus === 'fail'" class="finish fail">결제에 실패했습니다.</em>
            <!-- //결제내역 -->
        </div>
    </div>
    <!-- //pop_container -->
    <div class="pop_footer line02 clearfix">
        <span class="fl">취소 ESC</span>
        <span class="fr">
            <a href="javascript:void(0);" class="btn01_blue" (click)="pay(paid.value, payment.value)">확인</a>
            <a href="javascript:void(0);" class="btn01_white" (click)="close()">취소</a>
        </span>
    </div>
</div>