<div class="nav">
    <!-- 선택시 class="on" -->
    <button #menus type="button" id='complexPayment' (click)="complexPayment($event)" [class.link-disabled]="!(hasAccount && hasProduct)" [class.disabled]="!(hasAccount && hasProduct)" class="blue">통합결제</button>
    <button #menus type="button" id='groupPayment' (click)="groupPayment($event)" [class.link-disabled]="hasAccount && orderType === ''" [class.disabled]="hasAccount && orderType === ''">그룹주문</button><!-- 일반주문 플래그인 경우 막기 -->
    <button #menus type="button" id='pickupOrder' (click)="pickupOrder($event)" [class.link-disabled]="hasAccount" [class.disabled]="hasAccount">픽업주문</button>
    <button #menus type="button" id='mediateOrder' (click)="mediateOrder($event)" [class.link-disabled]="checkMediateDisable()" [class.disabled]="checkMediateDisable()">중개주문</button>
    <button #menus type="button" id='cancelOrder' (click)="cancelOrder($event)" [class.link-disabled]="!hasAccount" [class.disabled]="!hasAccount">주문취소</button>
    <button #menus type="button" id='promotionOrder' (click)="promotionOrder($event)" [class.link-disabled]="!hasAccount" [class.disabled]="!hasAccount" class="purple">프로모션 상품</button>
    <button #menus type="button" id='etcOrder' (click)="etcOrder($event)" [class.link-disabled]="hasProduct && hasCart" [class.disabled]="hasProduct && hasCart">기타</button>
</div>
<pos-promotion *ngIf="promotionList && promotionList.promotionItems && promotionList.promotionItems.length > 0">
    <ng-container *ngFor="let promotion of promotionList.promotionItems;">
        <ng-container *posPromotionItem>
            <div [class.blue]="promotion.promotion1">
                <span class="inner" *ngIf="promotion.promotion1">
                    <span class="pro">Promotion</span>
                    <strong class="tit">{{(promotion?.promotion1?.name) ? promotion?.promotion1?.name : '프로모션'}}</strong>
                    <span class="txt">{{promotion?.promotion1?.desc | stripHtml}}</span>
                </span>
            </div>
            <div [class.red]="promotion.promotion2">
                <span class="inner" *ngIf="promotion.promotion2">
                    <span class="pro">Promotion</span>
                    <strong class="tit">{{(promotion?.promotion2?.name) ? promotion.promotion2?.name : '프로모션'}}</strong>
                    <span class="txt">{{promotion?.promotion2?.desc | stripHtml}}</span>
                </span>
            </div>            
        </ng-container>
    </ng-container>
</pos-promotion>