<div class="nav">
  <!-- 선택시 class="on" -->
  <button #menus type="button" (click)="normalPayment($event)" class="blue on">일반결제</button>
  <button #menus type="button" (click)="complexPayment($event)" class="blue">복합결제</button>
  <button #menus type="button" (click)="groupPayment($event)">그룹주문</button>
  <button #menus type="button" (click)="pickupOrder($event)" class="disabled">픽업주문</button>
  <button #menus type="button" (click)="cancelOrder($event)">주문취소</button>
  <button #menus type="button" (click)="promotionOrder($event)" class="purple">프로모션 상품</button>
  <button #menus type="button" (click)="etcOrder($event)">기타</button>
</div>
<pos-promotion>
    <ng-container *ngFor="let item of items;">
        <ng-container *posPromotionItem>
            <a href="javascript:void(0)"><img src="/assets/images/temp/{{item.img}}" alt="{{item.title}}"></a>
        </ng-container>
    </ng-container>
</pos-promotion>