<div class="nav">
    <!-- 선택시 class="on" -->
    <button #menus type="button" id='complexPayment' (click)="complexPayment($event)" [class.link-disabled]="!(hasAccount && hasProduct)" [class.disabled]="!(hasAccount && hasProduct)" class="blue">통합결제</button>
    <button #menus type="button" id='groupPayment' (click)="groupPayment($event)" [class.link-disabled]="hasAccount && orderType === ''" [class.disabled]="hasAccount && orderType === ''">그룹주문</button><!-- 일반주문 플래그인 경우 막기 -->
    <button #menus type="button" id='pickupOrder' (click)="pickupOrder($event)" [class.link-disabled]="hasAccount" [class.disabled]="hasAccount">픽업주문</button>
    <button #menus type="button" id='mediateOrder' (click)="mediateOrder($event)" [class.link-disabled]="checkMediateDisable()" [class.disabled]="checkMediateDisable()">중개주문</button>
    <button #menus type="button" id='cancelOrder' (click)="cancelOrder($event)" [class.link-disabled]="!hasAccount" [class.disabled]="!hasAccount">주문취소</button>
    <button #menus type="button" id='promotionOrder' (click)="promotionOrder($event)" [class.link-disabled]="!hasAccount" [class.disabled]="!hasAccount" class="purple">프로모션 상품</button>
    <button #menus type="button" id='etcOrder' (click)="etcOrder($event)" [class.link-disabled]="hasProduct && hasCart" [class.disabled]="hasProduct && hasCart">기타</button>
</div>
<pos-promotion *ngIf="promotionList && promotionList.results.length > 0">
    <ng-container *ngFor="let promotion of promotionList.results;">
        <ng-container *posPromotionItem>
            <div class="blue">
                <span class="inner">
                    <span class="pro">Promotion</span>
                    <strong class="tit">{{(promotion.title) ? promotion.title : '프로모션'}}</strong>
                    <span class="txt">{{promotion?.longDescription | stripHtml}}</span>
                </span>
            </div>
            <div class="red">
                <span class="inner">
                    <span class="pro">Promotion</span>
                    <strong class="tit">[신규 ABO프로모션신규 ABO프로모션신규 ABO프로모션]</strong>
                    <span class="txt">더블엑스 상품은 2018.02.05~ 02.28 까지 1+1 증정 진행 중입니다.많은 참여 바랍니다.</span>
                </span>
            </div>            
        </ng-container>
    </ng-container>
</pos-promotion>