<div class="pop_wrap pop_m" tabindex="1" [posFocusBlur]="'focus'">
    <div class="pop_header">
        <h1>{{regLabel}} 스캔 여부</h1>
        <!-- <button type="button" class="ico_comm pop_close01" (click)="close()">{{closeButtonLabel}}</button> -->
    </div>
    <!-- pop_container -->
    <div class="pop_container">
        <div class="pop_content">
            <div class="ac">
                <p class="txt04">제품 {{regLabel}}를 입력하여 주세요.</p>
                {{productInfo.name}}<input *ngIf="productInfo.serialNumber && !productInfo.rfid;" #codes type="text" [attr.data-prdname]="productInfo.name" class="mgt15" title="{{regLabel}}" style="width:370px" (keydown.enter)="check(codes, $event)">
                <span *ngIf="!productInfo.serialNumber && productInfo.rfid;">{{productInfo.name}} RFID를 스캔해주시기 바랍니다.</span>
                <input *ngIf="!productInfo.serialNumber && productInfo.rfid;" #codes type="hidden" [attr.data-prdname]="productInfo.name">
            </div>
            <em *ngIf="finishStatus === null && checktype === -1" class="finish fail">{{apprmessage}}</em>
            <em *ngIf="finishStatus === 'created' || finishStatus === 'paid'; else payFail" class="finish ok">{{apprmessage}}</em>
            <ng-template #payFail>
                <em *ngIf="finishStatus !== null && finishStatus !== ''" class="finish fail">{{apprmessage}}</em>
            </ng-template>
        </div>
    </div>
    <!-- //pop_container -->
    <div class="pop_footer line02 clearfix">
        <span class="fl"></span>
        <span class="fr">
            <a href class="btn01_blue" (click)="!!reg()">확인</a>
            <!-- <a href (click)="!!close()" class="btn01_white">취소</a> -->
        </span>
    </div>
</div>