<div class="pop_wrap pop_m" tabindex="1" [posFocusBlur]="'focus'">
    <div class="pop_header">
        <h1>{{regLabel}}</h1>
        <button type="button" class="ico_comm pop_close01" (click)="close()">{{closeButtonLabel}}</button>
    </div>
    <!-- pop_container -->
    <div class="pop_container">
        <div class="pop_content">
            <div class="ac">
                <p class="txt04">제품의 시리얼 번호를 입력하시거나 RFID 를 스캔해주세요.
                        <br>시리얼 번호 또는 RFID 가 인식되지 않는 경우, 
                        <br>입력 없이 확인버튼 또는 ENTER 키를 입력해 주세요.  
                        </p>
                <ng-container *ngFor="let p of productCount">
                <input *ngIf="productInfo.serialNumber || productInfo.rfid;" #codes type="text" [attr.data-serial]="productInfo.serialNumber" [attr.data-rfid]="productInfo.rfid" [attr.data-prdname]="productInfo.name" class="mgt15" title="{{regLabel}}" style="width:370px" (keydown.enter)="check(codes, $event)">
                </ng-container>
                <!-- <input *ngIf="!productInfo.serialNumber && productInfo.rfid;" #codes type="hidden" [attr.data-prdname]="productInfo.name"> -->
            </div>
            <p *ngIf="finishStatus === null && checktype === -1" class="txt_info02 type02 mgt20">{{apprmessage}}</p>
            <p *ngIf="finishStatus === 'created' || finishStatus === 'paid'; else payFail" class="txt_info02 type02 mgt20">{{apprmessage}}</p>
            <ng-template #payFail>
                <p *ngIf="finishStatus !== null && finishStatus !== ''" class="txt_info02 type02 mgt20">{{apprmessage}}</p>
            </ng-template>
        </div>
    </div>
    <!-- //pop_container -->
    <div class="pop_footer line02 clearfix">
        <span class="fl">취소 ESC</span>
        <span class="fr">
            <a href class="btn01_blue" (click)="!!reg()">확인</a>
            <a href class="btn01_white" (click)="!!close()">취소</a>
        </span>
    </div>
</div>